<div class="grid_12" style="padding-left: 20px"><h1>Lugnuts Blog</h1></div>
<div class="clear"></div>

<div class="grid_1" style="height:auto"></div>
<!-- Feature Blog section -->
<!-- Section added by Kim on 2/28/2016 -->
<!-- look for search parameter, if none found, default to first blog, .strftime("%b %d,  %Y") to the created_at
     dates to format the output -->
<!-- Kim: Added @lugtitle variable line on 3/3/2016 -->  
<% if params[:id] %>
  <% @lugs.each do |lug| %>
    <% if lug.id.to_i == params[:id].to_i %>
    <div class="grid_7" style="height:150px; margin-top:10px; margin-left:30px"><h3><%= lug.title %></h3>
    <% @lugtitle = lug.title %>
    <% @lugid = lug.id %>
    Date Posted: <%= lug.created_at.strftime("%b %d,  %Y") %><br/><br/>
    <%= lug.post1 %><br><br>
    <%= lug.post2 %><br><br>
    <%= lug.post3 %><br><br>
  </div>
    <% end %>
  <% end %>
  <% else %>
  <% params[:id] = 1 %>
  <% @lugs.each do |lug| %>
    <% if lug.id.to_i == params[:id].to_i %>
    <div class="grid_7" style="height:150px; margin-top:10px"><h3><%= lug.title %></h3>
    <% @lugtitle = lug.title %>
    <% @lugid = lug.id %>
    Date Posted: <%= lug.created_at.strftime("%b %d,  %Y") %><br/><br/>
    <%= lug.post1 %><br><br>
    <%= lug.post2 %><br><br>
    <%= lug.post3 %><br><br>
    </div>
    <% end %>
  <% end %>
<% end %>

<div class="grid_1" style="height:auto"></div>
<!-- END Feature Blog section -->

<!-- Kim: Other Blogs section, located at the right of the Feature Blog section -->
<!-- Kim: Changed height from 410 to 510 to align containers and took out background -->
<!-- Kim: Changed float:right to float:left; appended  .strftime("%b %d,  %Y") to the created_at
     dates to format the output -->
<div class="grid_3" style="height:auto;  margin-top:10px; float:right; position:relative">
    <h3>Other Blogs</h3><br>
       <% @count = 0 %>
   <tbody>
    <% @lugs.each do |lug| %>
     <% @count = @count + 1 %>
      <tr>
        <td><strong><%= lug.title %></strong><br></td>
        <td>Date Posted: <%= lug.created_at.strftime("%b %d,  %Y") %><br/></td>
        <td width="70%"><%=link_to "Read This Blog", :id => @count, :action => "new", :controller => 'blogs'  %></a></td><br><hr>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<div class="clear"></div>
<!-- END Other Blog section -->

<!-- User Comments Section -->
<!-- Kim: moved Share Your Thoughts code to previous section; changed section below to grid 8 -->
<!-- Kim: Added Date Posted column, and sorted dates -->
<div class="grid_5" style="margin-left:30px">
  
  <strong><h4>Share Your Thoughts!</h4></strong>
<%= render 'form' %>
</div>
<div class="clear"></div>

<div class="grid_8" style="height:auto; padding-left: 20px; padding-bottom:50px; margin-top:40px; margin-left:30px">
  <table>
  <thead>
    <tr align="left">
      <th><strong>Date Posted</strong></th>
      <th><strong>Author</strong></th>
      <th><strong>Comments to <%= @lugtitle %></strong></th>
    </tr>
  </thead>
  <tbody id="blogtable">
    <% @blogs.each do |blog| %>
    <% if blog.lugref.to_i == params[:id].to_i %>
      <tr valign="top">
        <td width="25%"><%= blog.created_at.strftime("%b %d,  %Y")  %></td>
        <td width="25%"><%= blog.title %></td>
        <td width="50%"><%= blog.content %></td>
      </tr>
      <tr style="height:10px; background-color:white">
        <td colspan="3"> <hr /> </td>
      </tr>
      
    <% end %>
    <% end %>
  </tbody>
</table>
</div>